<!DOCTYPE html>

<html>
<head>
 <title>EntameChanPlus</title>
 <meta charset="utf-8">
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <base href="" target="_top" id="base">
 <script>base.href = document.location.href.replace("/media", "").replace("index.html", "").replace(/[&?]wrapper=False/, "").replace(/[&?]wrapper_nonce=[A-Za-z0-9]+/, "")</script>
 <link rel="stylesheet" type="text/css" href="css/style.css">
 <link rel="stylesheet" type="text/css" href="css/highlight.css">
 <link rel="stylesheet" type="text/css" href="css/dark.css">
 <link rel="stylesheet" type="text/css" href="css/light.css">
 <link rel="preload" href="<%= htmlWebpackPlugin.options.vendorjs %>" as="script">
 <link rel="preload" href="<%= htmlWebpackPlugin.options.alljs %>" as="script">
</head>
<body>
<div id="app">
<v-app ref='app'>
<template slot="locale">en</template>
<toolbar></toolbar>
<logo></logo>
<routes></routes>
<styles></styles>
<processing-overlay></processing-overlay>
<mclink><%= htmlWebpackPlugin.options.lastcommit %></mclink>
<p v-if="false">このメッセージが消えない場合はZeroNetをアップデートしてみてください</p>
</v-app>
</div>
<script type="text/javascript" src="<%= htmlWebpackPlugin.options.vendorjs %>" async></script>
<script type="text/javascript" src="<%= htmlWebpackPlugin.options.alljs %>" async></script>
</body>
</html>
